<div class="container-contact100">
    <span class="contact100-form-title">
        Event List
    </span>
    <ag-grid-angular style="width: 1500px; height: 540px" class="ag-theme-balham" [columnDefs]="columnDefine"
        [enableSorting]="true" [rowData]="rowData" [pagination]="true" [paginationPageSize]="10"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button class="contact100-form-btn" type="submit" [routerLink]="['/dashboard']"
                routerLinkActive="router-link-active">
                <span>
                    Back
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </div>
</div>